<a href="login.html" id ="connectButton"> <i class="fa fa-user"></i> Se connecter</a>
<div class="nav">
    <input type="checkbox" id ="nav-check">
    <div class="nav-header">
        <div class ="nav-title">
            
            <a href="index.html"> <i class="fa-brands fa-apple"></i> Apple Equipments</a>
        </div>
    </div>
    <div  class="nav-btn">
        <label for ="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="nav-links" id="navLinks">

    </div>
</div>
