#listProducts{
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  
}


#listProducts a{
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
  margin:10px;
  align-items: center;
  box-shadow: 1px 5px 8px #237DBB;
  border-radius: 25px;
}

#listProducts a img{
  width: 80%;
  margin: 10px;
}


#listProducts a span:first-child{
  color: #555;
  font-weight: bolder;
  text-align: center;
}

#listProducts div{
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
  margin:10px;
  align-items: center;
  box-shadow: 1px 5px 8px #237DBB;
  border-radius: 25px;
}

#listProducts div img {
  width: 80%;
  margin: 10px;
}


#listProducts  span:first-child{
  color: #555;
  font-weight: bolder;
  text-align: center;
}

#detailsProducts{
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}


#detailsProducts div{
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  align-items: center;
  box-shadow: 1px 5px 8px #237DBB;
  border-radius: 25px;
}

#detailsProducts div img{
  width: 40%;
  margin: 10px;
  border-radius: 10px ;
}

#detailsProducts div span:first-child{
  color: #555;
  font-weight: bolder;
  text-align: center;
}


#detailsProducts div p {
  color: #555;
  font-weight: bolder;
}

#detailsProducts div span {
  color: #555;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}


footer p
  {
    text-align:center;
    padding: 5px;
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
    background-image: linear-gradient(260deg, #237DBB 0%, #90E5F1 100%);
    color: #fff;
}

